<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <h1><%= t('.login') %></h1>
            <p class="text-muted"><%= t('.sign_in_to_your_account') %></p>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <svg class="c-icon">
                      <use xlink:href="<%= asset_pack_path "media/sprites/brand.svg" %>#cib-mail-ru"></use>
                    </svg>
                  </span>
                </div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "player@example.com" %>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <svg class="c-icon">
                      <use xlink:href="<%= asset_pack_path "media/sprites/free.svg" %>#cil-lock-locked"></use>
                    </svg>
                  </span>
                </div>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder:  "******" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="form-check checkbox mb-4">
                  <%= f.check_box :remember_me, class: "form-check-input" %>
                  <%= f.label :remember_me, class: "form-check-label" %>
                </div>
              <% end %>

              <div class="row">
                <div class="col-6">
                  <%= f.submit "Log in", class: "btn btn-primary px-4" %>
                </div>
                <div class="col-6 text-right">
                  <%= link_to 'Register', new_user_registration_path, class: 'btn btn-dark px-4' %>
                  <%# render "devise/shared/links" %>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
